<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/litegraph.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/litegraph.js') }}"></script>
</head>
<body style="width: 100%; height: 100%">
    <canvas
      id="mycanvas"
      width="1000"
      height="600"
      style="border: 1px solid"
    ></canvas>
    <button id="saveGraph">Save Graph</button>
    <button id="loadGraph">Load Graph</button>
    <script  src="{{ url_for('static', filename='js/macro.js') }}">
      
    </script>
  </body>
</html>